
.navbar{
  height: 45%;
  background-color: blue;
  color:white;
  margin: 0px !important;
  padding:  0px !important;
  border: 0px !important;

}

.nomargin{
  margin: 0px !important;
  padding:  0px !important;
  border: 0px !important;
}

.navImage{
  height: 4em;
  width: 5em;
  margin: 0.4em 0em 0em 0.8em !important;
  padding:  0px !important;
  border: 0px !important;
}

.navText{
  font-family: VT323, monospace;
  font-size: 4em;
  margin: 0.4em 0em 0em 1em
}

.inputBoxContainer{
  margin-top: 1em;
  margin-left: 30em;
}

.inputBox{
  margin: 0.2em;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
}

.inputBox:focus{
  outline: None;

}

.generateButton{
  background-color: blue;
  color:white;
  font-family: VT323, monospace;
  border-color: white;

}

.generateButton:focus{
  border-color: white;
}

.memeInputBox{
  background-color:rgba(0, 0, 0, 0);
  border: None;
  margin: None;
  overflow: auto;
  resize: none;
}

.memeInputBox:focus{
  resize: both;
}




.memeImage{
  width: 40em;
  height: 40em;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.fontSizeInputBox{
  width: 5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}


.uploadLabel{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: blue;
  width: 40em;
  color: white;
  font-family: VT323, monospace;
  font-size: 1em;

}

.submitButton{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: blue;
    width: 40em;
    color: white;
    font-family: VT323, monospace;
    margin-top: 0.3em;
    border: None;
    font-size: 1em;


}
